.redline {
	height: 2em;
	background-color: red;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}

.heading {
	font-size: 7em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.below{
	border:1px solid rgb(17, 6, 1);
	padding: 10px;
}

.website {
	float: left;
}

.since{
	float: right;
}

.favnews {
	padding-left: 14em;
}

.insert {
	font-size: 4.2em;
}

.logohr {
	width: 41%;
}

.vl {
  border-left: 1px solid black;
  height: 500px;
  position: absolute;
  left: 43%;
}

#content1 {
	padding-bottom: 10%;
}

h3 {
	font-size: 2.6em;
	margin-top: 0px;
	margin-bottom: 3px;
}

.para1 {
	margin-top: 0px;
	float: left;
	width: 40%;
}

.para2 {
	width: 20%;
	margin-top: 0px;
	padding-left: 30em;
	position: absolute;
}

.para3{
	width: 20%;
	position: absolute;
	padding-left: 50em;

}